<main>
  <section>
    <div class="single-post">
          <div class="user-post-preview">
            <h3>"<%= @post.title%>" by <%= @user.name %></h3>
            <p class="post-data">
              <span>Comments: <%= @post.comments_counter %></span>
              <span>Likes: <%= @post.likes_counter %></span>
            </p>
            <p><%= @post.text %></p>
             <%= render "likes/create" %>
          </div>
          <div class="post-comments-preview">
          <h2>Comments</h2>
          <%=link_to 'Add Comment', "/users/#{@user[:id]}/posts/#{@post[:id]}/comments/new", class: "newComm" %>
            <% @post.comments.each do |comment| %>
              <p>Comment from <%=comment.author.name %>: <%=comment.text %></p>
            <% end %>
          </div>
      </div>
  </section>
</main>